<nav>

  <h1 id='logo'>Fhellow</h1>
  <ul>
  <li><a href="#">About</a></li>
  <li><a href="#">Activity</a></li>
  </ul>
</nav>

<div id='map'></div>
<% link_to %>
<% if @users.any? %>
	<% @users.each do |user| %>
		<% if user.longitude && user.latitude %>
			<div class='lat'><%= user.latitude %></div>
			<div class='lng'><%= user.longitude %></div>
		<% end %>
	  <%= image_tag user.avatar.url(:thumb), class: "avatar-image" %>
	  <h3><%= user.name_first %> <%= user.name_last %></h3>
	  <h4><%= user.job_title %></h4>
	  <p><%= user.location %></p>
	  <p><%= user.bio %></p>
	<% end %>
<% else %>
	<p>This is where users will show</p>
<% end %>


