<article class="signin-up">
  <h2 class="signin-up-heading">Join the Fhellow community</h2>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  	<%= devise_error_messages! %>
    <div class="signin-up-divider-left">-</div>Or<div class="signin-up-divider-right">-</div>

  	<div class="email-signin-up "><%#= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>

  	<div class="password-signin-up"><%#= f.label :password%> <%# if @validatable %><i><%#= @minimum_password_length %></i><%# end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (minimum 8 characters)"  %></div>

  <div class="password-confirm-signin"><%#= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %></div>

  <div><%= f.submit "Join" %></div>
  <%= render "devise/shared/links" %>

	<% end %>

</article>
