<h2 class="chatbox">
  Conversation
</h2>
<div id="chatbox">
  <% @message.each do |m| %>
    <div class="from">
      <% if current_user.id == m.from_id %>
        <h2 id="you">
          You
        </h2>
      <% else %>
        <h2 id="them">
          Them
        </h2>
      <% end %>
    </div>
    <div class="message">
      <%= m.message  %>
      <%= m.seen ? "seen" : "sent"  %>
    </div>
  <% end %>
  <section id='message-box'>
<%= form_tag("/message/#{@to}") do  %>
  <%= text_area_tag(:message)  %>
  <p><%= submit_tag("Send")  %></p>
  <p id='line'></p>
<% end %>
  </section>
</div>

