<h2 class="chatbox">
  Conversation
</h2>
<div id="chatbox">
  <% @message.each do |m| %>
    <div class="each-message">
      <% if current_user.id == m.from_id %>
        <h2 class="message-who">
          <%= "#{User.find_by_id(current_user.id).name_first}" + " " + "#{User.find_by_id(current_user.id).name_last}" %>
        </h2>
      <% else %>
        <h2 class="message-who">
          <%= "#{User.find_by_id(m.to_id).name_first}" + " " + "#{User.find_by_id(m.to_id).name_last}" %>
        </h2>
      <% end %>
    <%#<div class="message">%>
      <% date_time = m.created_at %>
      <p class='time-sent'><%= m.seen ? "#{date_time.strftime('%B %d, %Y %l:%M %p')}" : "Replied:"+ "#{date_time.strftime('%B %d, %Y %l:%M %p')}" %>
    <p class="message-text"><%= "#{m.message}"  %></p>
    <%#</div>%>
    </div>
  <% end %>
  <section class='message-box'>
    <%= form_tag("/message/#{@to}") do  %>
      <%= text_area_tag("message-box")  %>
      <p><%= submit_tag("Send", id: "bt-reload") %></p>
    <% end %>
  </section>
</div>

