<h2 class="message-list">Messages</h2>
<section class="message-container">
<% @messages.each do |message| %>
  <div class='each-message'>
   <% if current_user.id == message.from_id %>
   <p class="message-who"><%= "Conversation with: #{User.find_by_id(message.to_id).name_first}" + " " + "#{User.find_by_id(message.to_id).name_last}" %></p>
  <% else %>
    <p class="message-who"><%= "Conversation with: #{User.find_by_id(message.from_id).name_first}" + " " + "#{User.find_by_id(message.from_id).name_last}" %></p>
  <% end %>
  <p class='industry'><%= "#{User.find_by_id(message.from_id).job_title}" + ", " + "#{User.find_by_id(message.from_id).user_type}" %></p>
  <p class='convo-link'><%= link_to "View Conversation", conversation_path(message.from_id), class: 'convo-link' %></p>
  <% date_time = message.created_at %>
    <p class="time-sent"><%= date_time.strftime("%B %d, %Y %l:%M %p") %></p>
    <p class="message"><%= "#{message.message}" %></p>
</div>
<% end %>
</section>

<%#TODO Name being wrapped in <p></p> is controlling the whole block. find a way%>
<%#to stop that from happening.%>
<%#TODO Remove 'else conversation' statement once we input logic that a person cannot message themselves%>
