<article class="main"><%= form_for [@user, @post] do |f| %>

	<h4><%= f.label :content %></h4>
	<p><%= f.text_area :content %></p>

  <p><%= f.label :add_current_location, id: 'latlng' %></p>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

	<h4><%= f.label :image %></h4>
	<p><%= f.file_field :image%></p>

	<p><%= f.submit %></p>

<% end %>
</article>