  <article class="main"><%= form_for [@user, @post] do |f| %>
<div class="modal-header">
  <% if action_name == "new" %>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id='myModalLabel'><%= render 'posts/new_title' %></h4>
  <% else %>
    <h4 class="modal-title" id='myModalLabel'><%= render 'posts/edit_title' %></h4>
  <% end %>
</div>
<div class="modal-body">
  <%= f.label :content, id: 'content-label'%>
  <p><%= f.text_area :content, placeholder: "Max 255 characters" %></p>
         <div class='input-append'>
      <div id='latlng'><i class='fa fa-map-marker'></i></div>
         <%= f.hidden_field :latitude %>
         <%= f.hidden_field :longitude %>
         <%= f.file_field :image %>
           <a class='fontawesome-picture' onclick="$('input[id=post_image]').click();"><i class='fa fa-picture-o'></i></a>
            <input class='input-small' type='text'>
            <% if action_name == "edit" %>
              <P class='post-submit'><%= f.submit 'Edit Post' %></p>
            <% else %>
              <p class='post-submit'><%= f.submit :Post %></p>
            <% end %>
         </div>

         <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'>
          $('input[id=post_image]').change(function() {
          $('.input-small').val($(this).val());
          });
         </script>
</div>
      <div class="modal-footer">
      </div>
    <% end %>
    <script>
    $('#latlng').on('click', function() {
       if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              console.log(position.coords.latitude);
              console.log(position.coords.longitude);
              $('#post_latitude').val(position.coords.latitude);
              $('#post_longitude').val(position.coords.longitude);
            });
        }

        })
    </script>
</article>
</div>
</div>

<%#TODO add fontawesome icons for location and image.%>
