<article class="post">
  <%= image_tag post.image.url(:medium), class: "post_image" %>
  <p><%= post.content %></p>
  <p><%= User.find_by(id: post.user_id).name_first %> <%= User.find_by(id: post.user_id).name_last %></p>
  <% if post.latitude && post.longitude%>
    <p><%= post.town %></p>
  <% end %>
  <p><%= time_ago_in_words(post.created_at) %> ago</p>
  <% if @user.id == post.user_id %>
    <%= link_to "Edit post", {:remote => true, 'data-keyboard' => true, 'data-toggle' =>  "modal", 'data-target' => '.profile-page-post'}, controller: "posts", action: "edit", user_id: post.user_id, id: post.id %>
  <% end %>
</article>

