<%= form_for @user, html: {class:"edit_user registerForm form-horizontal"} do |f| %>

  <h2>Edit your profile</h2>

  <section class="col-md-4" id="edit-profile-image">
    <img src="/images/thumb/missing.png" height="300" width="300">
    <%= f.label :"profile picture" %>
    <%= f.file_field :avatar %>
  </section>

	<section class="col-md-7" id="edit-profile-details">
  <div class="first-name-field">
    <%=f.label :"first name" %>
		<%= f.text_field :name_first, autofocus: true, class:"form-control" %>
  </div>
	<div class="last-name-field">
    <%=f.label :"last name" %>
		<%=f.text_field :name_last, class:"form-control" %>
    </div>

	<div class="email-field">
		<%= f.label :email %>
		<%=f.email_field :email, class:"form-control" %>
	</div>

	<div class="job-field">
		<%=f.label :"job title" %>
		<%=f.text_field :job_title, class:"form-control" %>
  </div>
  <div class="fhellow-type">
    <%=f.select(:user_type, [['Freelancer'],['Entrepreneur']])%>
	</div>

  <div class="town-field">
  	<%= f.label :town %>
    <%= f.text_field :town, placeholder: 'London', class:"form-control" %>
  </div>
  <div class="country-field">
  <%= f.label :country %>
    <%= f.text_field :country, placeholder: 'United Kingdom', class: "country-label form-control" %>
  </div>

  <div class="web-field">
    <%= f.label :website %>
    <%= f.text_field :website, class:"form-control" %>
  </div>
  <div class="linked-in-field">
  	<%= f.label :linkedin %>
  	<%= f.text_field :linkedin, class:"form-control" %>
  </div>

	<div class="user-edit-bio">
		<%=f.label :bio %>
    <p>Tell us a bit about what you've been up to</p>
		<%= f.text_area :bio, class:"form-control"%>
	</div>

    <section class="interests-checks">
    <p>I am interested in</p>
    <ul>
        <li><%= f.check_box(:discussing_ideas) %>
        <%= f.label(:discussing_ideas, "Discussing ideas") %></li>
        <li><%= f.check_box(:afterwork_drinks) %>
        <%= f.label(:afterwork_drinks, "Afterwork drinks") %></li>
        <li><%= f.check_box(:collaborating) %>
        <%= f.label(:collaborating, "Collaborating") %></li>
      </ul>
      <ul>
        <li><%= f.check_box(:chat_over_a_coffee) %>
        <%= f.label(:chat_over_a_coffee, "Chat over a coffee") %></li>
        <li><%= f.check_box(:lunch_buddy) %>
        <%= f.label(:lunch_buddy, "Lunch buddy") %></li>
        <li><%= f.check_box(:advising) %>
        <%= f.label(:advising, "Advising") %></li>
    </ul>
    </section>



	<div class="profile-submit">
	<%= f.submit :"Confirm profile details", class:"btn btn-default"%>
	</div>
  <%if @user.name_first %>
  <%= link_to "Account settings", edit_user_registration_path %>
  <%end%>

<%end%>
</section>
