<p><%= @user.name_first%> <%= @user.name_last %></p>
<p><%= @user.job_title %></p>
<p><%= @user.town %>, <%= @user.country %></p>
<p><%= @user.bio %></p>
<p><%= @user.website %></p>
<p><%= @user.linkedin %></p>
