<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fhellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

 <div id="homepage_posts" class="modal fade" tabindex="-1" data-container="body" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<header>
  <h1 class="col-sm-4 col-md-5 col-md-offset-0" id='logo'><img src="/assets/logo.png"><%= link_to 'FHELLOW', '/' %></h1>

<nav class="col-sm-8 col-md-7 col-md-offset-0">
  <ul>
    <% unless current_user %>
      <li><a href="#"><i class="fa fa-lightbulb-o"></i>About</a></li>
    <% end %>
  <li><%= link_to activity_path(current_or_guest_user) do %>
    <i class="fa fa-newspaper-o"></i>
    Activity
    <% end %>
  </li>
    <% if current_user %>
      <li><%= link_to new_user_post_path(current_user), {:remote => true, 'data-keyboard' => true, 'data-toggle' =>  "modal", 'data-target' => '#homepage_posts'} do %>
      <i class="fa fa-pencil"></i>
      Post

    <% end %>
    </li>
      <li><%= link_to messages_path do %>
      <i class="fa fa-envelope"></i>
      Messages
      <% end %>
    </li>
    <% if current_user.name_first? %>
      <li><%= link_to "#{current_user.name_first}", user_profile_path(current_user) %></li>
    <% else %>
      <li><i class="fa fa-user"></i><%= link_to "My profile", user_profile_path(current_user) %></li>
    <% end %>
  	<li class="account-manage"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <%else%>
	<li class="account-manage"><%= link_to "Join", new_user_registration_path %></li>
	<li class="account-manage"><%= link_to "Log in", new_user_session_path %></li>

<% end %>
  </ul>
</nav>
</header>


<% if flash[:notice]%>
	<div id="notice"><p>
	<%= flash[:notice]%></p>
	</div>
<% end %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
