<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fhellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav> 
<h1 id='logo'><%= link_to 'Fhellow', homepage_index_path %></h1>
  <ul>
    <% unless current_user %>
      <li><a href="#">About</a></li>
    <% end %>
  <li><%= link_to "Activity", activity_path(current_or_guest_user) %></li> 
    <% if current_user %>
  	<li><%= link_to "Post", new_user_post_path(current_user) %></li>
    <li><%= link_to "Messages", messages_path %></li>
    <% if current_user.name_first? %> 
      <li><%= link_to "#{current_user.name_first}", user_profile_path(current_user) %></li>
    <% else %>
      <li><%= link_to "My profile", user_profile_path(current_user) %></li>
    <% end %>
  	<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <%else%>
	<li><%= link_to "Join", new_user_registration_path %></li>
	<li><%= link_to "Log in", new_user_session_path %></li>
    <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
<% end %>
  </ul>
</nav>


<% if flash[:notice]%>
	<div id="notice">
	<%= flash[:notice]%>
	</div>
<% end %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
